.title{
    font-weight: bolder;
    color: #007bff !important;
    font-size: 32px;
    margin: 30px 0 30px 0;
  }
  img{
    max-width: 100px;
  }
  .weather_state{
    color: #23527c;
    font-weight: bold;
    font-size: 12px;
  }
  .m_temp{
    font-size: 12px;
    margin-top: 50px;
    font-weight: 600;
  }
  .day-title{
    font-weight: bold;
    font-size: 16px;
    color: #23527c;
  }